In [2]:
for i in range(1,6):
    for j in range(1,i+1):
       print("*",end="")
    print()

*
**
***
****
*****

In [53]:
for i in range(6,1,-1):
    for j in range(1,i):
        print("*",end="")
    print()

*****
****
***
**
*

In [19]:
  #equilateral triangle 
n=int(input("enter no : \n"))
for i in range(1,n+1):
    print(" "*(n-i),end="")
    print("*"*(i*2-1))

enter no :
6
     *
    ***
   *****
  *******
 *********
***********

In [46]:
print("hello",end="")
print("*")

hello*

In [47]:
l=[1,2,3,4]
for i in l:
    print(l[i-1])

1
2
3
4

In [45]:
n=4
for var in range(0,n*2-1):
    print(var)

0
1
2
3
4
5
6

In [52]:
for h in range(0,6):
    print("value of h : ",h)
    if h==5:
        break
print("value of h : ",h)

value of h :  0
value of h :  1
value of h :  2
value of h :  3
value of h :  4
value of h :  5
value of h :  5

In [2]:
# equilateral triangle upside down
n=int(input("enter no : \n"))
for i in range(1,n+1):
    print("\t",end="")
    print(" "*((n+1)-i),end="")
    print("*"*(i*2-1))
for j in range(n,0,-1):
    print("\t",end="")
    print(" "*(n-(j-1)),end="")
    print("*"*(j*2-1))

enter no :
9
	         *
	        ***
	       *****
	      *******
	     *********
	    ***********
	   *************
	  ***************
	 *****************
	 *****************
	  ***************
	   *************
	    ***********
	     *********
	      *******
	       *****
	        ***
	         *

In [1]:
# swastik
n=9
for i in range(1,n+1):
    if i==1 or i==n:
        if i==1:
            print("\t","*",end="")
            print(" "*(n//2-1),end="")
            print("*"*(n//2+1))
        if i==n:
            print("\t","*"*(n//2+1),end="")
            print(" "*(n//2-1),end="")
            print("*")
    elif i==2 or i==3 or i==4:
        print("\t","*",end="")
        print(" "*(n//2-1),end="")
        print("*")
    elif i==6 or i==7 or i==8:
        print("\t"," "*(n//2),end="")
        print("*",end="")
        print(" "*(n//2-1),end="")
        print("*")
    else:
        print("\t","*"*n)

	 *   *****
	 *   *
	 *   *
	 *   *
	 *********
	     *   *
	     *   *
	     *   *
	 *****   *

In [ ]:
print("hello"*6,"hi")

In [1]:
n=int(input("enter no. "))
for i in range(1,n+1):
    if i==(n//2+1):
        print("\t","*"*n)
    else:
        print("\t","*",end="")
        print(" "*(n-2),end="")
        print("*")

enter no. 7
	 *     *
	 *     *
	 *     *
	 *******
	 *     *
	 *     *
	 *     *

In [4]:
n=9
for i in range (1,n+1):
    if i==1 or i==n//2+1 or i==n:
        print("\t","*"*n)
    elif i>=2 and i<=n//2:
        print("\t","*")
    else:
        print("\t"," "*(n-1),end="")
        print("*")

	 *********
	 *
	 *
	 *
	 *********
	         *
	         *
	         *
	 *********

In [1]:
n=int(input("enter no of rows : "))
for i in range (1,n+1):
    if i==1 or i==n//2+1:
        print("\t","*"*n)
    elif i>=2 and i<=(n//2):
        print("\t","*",end="")
        print(" "*(n-2),end="")
        print("*")
    else:
        for v in range(1,n-1,2):
            print("\t","*",end="")
            print(" "*v,end="")
            print("*")
        break

enter no of rows : 9
	 *********
	 *       *
	 *       *
	 *       *
	 *********
	 * *
	 *   *
	 *     *
	 *       *

In [24]:
n=int(input("enter no. "))
m=int(input("enter no. "))
for var in range(1,n//2+1):
    if m==var:
        print("yes")
        break
    else:
        print("no")
        break

enter no. 4
enter no. 6
no

In [20]:
i=range(2,5)
i

range(2, 5)

In [55]:
n=int(input("enter no of rows"))
for i in range(1,n+1):
    if i==1:
        print("\t","*"*n)
    else:
        print("\t"," "*(n//2),end="")
        print("*")

	 *********
	     *
	     *
	     *
	     *
	     *
	     *
	     *
	     *

In [1]:
n=int(input("enter no of rows"))
for i in range(1,n+1):
    if i==1 or i==n:
        print("\t","*"*n)
    else:
        print("\t"," "*(n//2),end="")
        print("*")

enter no of rows7
	 *******
	    *
	    *
	    *
	    *
	    *
	 *******

In [29]:
n=int(input("enter no of rows"))
for i in range(1,n+1):
    if i==1:
        print(" "*(n-1),"*")
    elif i==n:
        print("*",end="")
        print(" "*(2*n-3),"*")
    elif i==n//2+1:
        print(" "*(n//2),end="")
        print("*"*n)
    else:
        if i>=2 and i<=n-1:
            print

enter no of rows27
                           *
             ***************************
*                                                    *

In [15]:
n=int(input("enter no of rows"))
for i in range(1,n+1):
    if i==n:
        print("\t","*"*n)
    else:
        print("\t","*")

enter no of rows9
	 *
	 *
	 *
	 *
	 *
	 *
	 *
	 *
	 *********

In [13]:
n=int(input("enter no of rows"))
for i in range(1,n+1):
    if i==n or i==1 or i==n//2+1:
        print("\t","*"*n)
    else:
        print("\t","*")

enter no of rows9
	 *********
	 *
	 *
	 *
	 *********
	 *
	 *
	 *
	 *********

In [ ]:
n=int(input("enter no of rows"))
for i in range(1,n+1):
    if i==n or i==1:
        print("\t","*"*n)
    else:
        print("\t","*",end="")
        print(" "*(n-2),end="")
        print("*")

In [ ]:
print(" "*((l//2)),end="")